body {
  background-color: #f6f6f6 !important;
}

th,
tr,
td {
  border-color: #3333332a !important;
}
.hero-bg {
  background-color: #f6f6f6;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #f6f6f6 4px
    ),
    repeating-linear-gradient(#444cf755, #d1d3fa);
}
